@model Baocao_chuyende.Models.Size

@{
    ViewBag.Title = "DeleteSize";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Sản phẩm/</span> Màu sắc - Kích thước</h4>

    <!-- Basic Layout & Basic with Icons -->
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <!-- Basic Layout -->
            <div class="col-xxl">
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">Bạn có muốn xóa loại size này?</h5>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="basic-default-name">@Html.DisplayNameFor(model => model.nameSize)</label>
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.nameSize, new { htmlAttributes = new { @class = "form-control", @id = "basic-default-name" } })
                                </div>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Xóa</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="buy-now">
    <a href="@Url.Action("SizeAndColor", "SizeColor")" class="btn btn-danger btn-buy-now">Quay lại</a>
</div>
